.ant-select-selection--single {
    background: #dedede;
}

.ant-select-selection__placeholder,
.ant-select-search__field__placeholder {
    font-weight: 600;
    color: #9e9b9b;
}

.ant-input:not(.ant-calendar-picker-input) {
    text-align: right;
}

.ant-form-item-required:before,
.ant-form-item-required:after,
.ant-form-item-label label:after {
    content: '';
}

.ant-tooltip-placement-right .ant-tooltip-arrow {
    left: 1px;
    border-width: 5px 7px 5px 0;
}

.ant-tooltip {
    max-width: 100%;
}

.tooltip-wrapper {
    line-height: 1;
    display: flex;
    align-items: center;
}

.ant-input-number:hover .ant-input-number-handler-wrap {
    opacity: 0;
}

.ant-input-number {
    width: 100%;
}

.ant-form-item {
    margin-bottom: 0;
}

.ant-form-explain {
    display: none;
}

.ant-notification.ant-notification-topRight {
    right: 50%!important;
    transform: translateX(50%);
}

.ant-notification-notice {
    padding: 10px 24px;
    background: #676767
}

.ant-notification {
    width: 260px;
}

.ant-notification-notice-close {
    top: 50%;
    transform: translateY(-50%);
}

.ant-notification-notice-message {
    margin: 0;
    color: #fff;
}

@media (max-width: 575px) {
    .ant-form-item-label {
        line-height: 39.9999px;
        padding: 0;
    }

    .ant-form-item-label,
    .ant-form-item-control-wrapper {
        width: initial;
    }
}
